.property-details {
  padding: 0rem 2rem;
}

#col {
    position: relative;
}

.right {
    left: 36.4rem;
    top: 7.8rem;
}

.icon-label {
    position: relative;
    left: 51vw;
    top: -2.5rem;
}

.property-label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem 1.3rem;
}

.address-input {
    padding: .375rem .75rem !important;
}

.form-control, .form-select {
    width: 100%;
    margin-top: .8rem;
    padding: .9rem .75rem .2rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    color: #212529;
}

.form-control:focus, .form-control:active, 
.form-select:focus, .form-seledt:active {
    border-color: #cfd4da !important;
    box-shadow: none;
}